syntax: glob
# IDE PyCharm
__pycache__

.idea
*.py[cdo]
app.ini


!font-awesome.min.css
# Translations
*.mo

# Installer logs
pip-log.txt

# C Extensions
*.so
db.sqlite3
*.sqlite3

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
